---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Skimmr">
	<main class="m-auto mt-14 p-0">
		<h1 class="text-5xl font-extrabold m-0 pt-0 pb-14 text-center">
      Welcome to 
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-violet-500 to-fuchsia-500">
        Skimmr
      </span>
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-7 mt-10 content-center">

      <div>
        <p class="text-2xl font-semibold ml-10 max-w-[28ch]">
          Effortlessly skim through articles with our AI-powered browser extension.
        </p>

        <p class="ml-10 max-w-[28ch] pt-4 italic">
          Select some text &rarr; right-click &rarr; click Skimmr
        </p>
      </div>

		  <ul role="list" class="mx-auto px-auto justify-end flex flex-col gap-4 max-w-[25ch]">
		  	<Card
		  		href="https://chrome.google.com/webstore/detail/skimmr/inchpcdcmkipekcoiimcdnfomdhdfcih"
		  		title="Chrome"
		  		body="Install Skimmr for Chrome."
		  	/>
		  	<Card
		  		href="#"
		  		title="Firefox"
		  		body="Skimmr coming soon to Firefox"
		  	/>
		  </ul>
    </div>

	</main>
</Layout>
