---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="list-none flex p-5 bg-white rounded-md shadow-sm border-2 border-violet-400
hover:border-violet-500">
	<a href={href} target="_blank">
		<h2 class="m-0 text-lg font-semibold">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="mt-2 mb-0 text-sm">
			{body}
		</p>
	</a>
</li>
